#estilo1{
    color: midnightblue;
    border: solid 2px black;
    padding: 20px;
    margin: 50px 600px;
    font-family: Helvetica, sans-serif;
    font-size: 11 px;
    text-align: center;
    line-height: 1,5;
    
}